.profile-body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-main {
  flex: 1;
  margin: 20px 15%;
}

.profile-outer-container {
  overflow: hidden;
}

/* START OF USERS INFORMATION */
.profile-user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 0 0 8%;
}

.profile-pp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.username {
  font-family: 'Comfortaa', sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.8em;
  width: fit-content;
  text-align: center;
}

.university {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 0.5;
  font-size: 1.2em;
  width: 320px;
  max-width: 320px;
  margin: 0;
  text-align: center;
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 5% 0 2%;
  padding-left: 3%;
  padding-right: 3%;
  width: 50%;
  min-width: 50%;
}

.bio-container h3 {
  font-family: 'Concert One', sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.bio-container p {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1em;
  text-align: center;
  width: fit-content;
  min-width: 40%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* END OF USERS INFORMATION */

/* START OF TILES SECTION */
.profile-tiles-container {
  display: flex;
  flex-direction: column;
  margin: 4% 3% 0 5%;
}

.users-study-sets-container, 
.users-posts-container, 
.liked-posts-container {
    display: flex;
    flex-direction: column;
    /* background-color: #f7f7f7; */
    padding: 1%;
    border-radius: 15px;
}

.users-posts-container {
  margin: 2% 0 2% 0;
}

.container-title {
  font-family: 'Concert One', sans-serif;
  text-align: left;
  font-size: 1.7em;
}

.posts-container,
.study-sets-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow-x: auto;
  padding: 2%;
  height: 240px;
  min-height: 240px;
}

.post-tile, 
.study-set-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #181818;
  background: white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  width: 33%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  min-width: 200px;
  min-height: 200px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(0 0 0 / 31%);
}

.post-tile:hover, 
.study-set-tile:hover {
    transform: scale(1.05);
    border: 1px solid #f59c1a;
    transition: 0.3s;
    box-shadow: none;
}

.post-tile:active, 
.study-set-tile:active {
    transform: scale(0.95);
    transition: 0.3s;
    box-shadow: none;
}

.fa-comment:before,
.fa-heart:before,
.fa-star:before {
    color: #2778ff;
}

.post-header, .study-set-header {
  display: flex;
  color:black;
  border: none;
  box-shadow: none;
  background: none;
  font-size: 1.2em;
}

.post-profile-picture, 
.study-set-profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #2778ff;
  cursor: pointer;
  margin-right: 13px;
}

.post-profile-picture:hover, 
.study-set-profile-picture:hover {
    border-color: #f59c1a;
    border-width: 2px;
}

.post-account, .study-set-account {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
  color:#181818;
  text-decoration: none;
}

.post-account:hover, .study-set-account:hover {
  text-decoration: underline;
}

.post-date, .study-set-date {
  font-size: 10px;
  text-decoration: none;
  margin-top: 5px;
  color:#181818;
}

.post-content, 
.post-title, 
.study-set-description, 
.study-set-title {  
    color:#181818;
}

.post-content, .study-set-description {
    opacity: 0.5;
    font-size: 75%;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 0;
}

.bottom-of-tile, .comment, .vote, .study-set-rating {
    display: flex;
    color:#181818;
}

.bottom-of-tile {
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.comment {
    justify-content: flex-start;
    align-self: flex-start;
}

.vote, .study-set-rating {
    justify-content: flex-end;
    align-self: flex-end;
}

.comment, .vote, .study-set-rating {
    margin: 2px;
}

.comments-count, .votes-count, .study-set-ratings-count {
    padding-left: 2px;
}

.no-tiles {
  text-align: left;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1em;
}
/* END OF TILES SECTION */

/* cleaner scroll bars */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* START OF MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  .profile-outer-container {
    max-width: 90%;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0 0 2%;
  }

  .profile-user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .study-set-tile, .post-tile {
    margin: 0 1.5% 0 1.5%;
  }
}

@media screen and (max-width: 850px) {

  .profile-outer-container {
    max-width: 100%;
    overflow: hidden;
  }

  .profile-pp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }

  .username {
    font-size: 1.5em;
  }
  
  .university {
    font-size: 1em;
    width: 250px;
    max-width: 250px;
  }

  .bio-container h3 {
    font-size: 1.5em;
  }

  .users-posts-container {
    margin: 8% 0 8% 0;
  }

  .container-title {
    margin-bottom: 3%;
  }

  .study-set-tile, .post-tile {
    margin: 0 3% 0 3%;
    
  }
}

@media screen and (max-width: 550px) {
  .username {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .profile-main {
      padding: 10px;
  }

  .users-posts-container {
    margin: 4% 0 4% 0;
  }

  .profile-outer-container {
    width: 100%;
    margin: 1% 0;
  }

  .container-title {
    font-size: 1.3em;
  }

  .posts-container,
  .study-sets-container {
    height: 200px;
    min-height: 200px;
  }

  .post-tile, 
  .study-set-tile {
    padding: 10px;
    min-width: 140px;
    min-height: 155px;
    height: 70%;
    margin: 0 1.5% 0 1.5%;
}

.post-header, .study-set-header {
  font-size: 0.9em;
}

.post-profile-picture, 
.study-set-profile-picture {
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.post-account, .study-set-account {
  font-size: 12px;
}

.post-date, .study-set-date {
  font-size: 10px;
  margin-top: 5px;
}

.post-content, 
.post-title, 
.study-set-description, 
.study-set-title {  
    font-size: 0.75em;
}

.study-set-title,
.post-title {
  margin: 2px 0;
}

.post-content, .study-set-description {
    font-size: 0.7em;
}

}