.register-container {
    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 31%);
    padding: 30px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.register-container h2 {
    text-align: center;
    color: white;
    margin: 0;
}

.register-container form p {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-container form label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
    width: 200px;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.register-container input[type="submit"] {
    flex: 2;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.lheader {
    text-align: center;
    color: black;
    margin: 0;
    font-size: xx-large;
    font-weight: bold;
}

@media only screen and (max-width: 850px) {
    .register-container {
        color: black;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 31%);
        padding: 30px;
        width: 270px;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}