/* Styling for the password reset form */

.reset-container {
    color: black;
    background-color: #607C8E;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.reset-container h2 {
    text-align: center;
    color: white;
    margin: 0;
}

.reset-container form p {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}

.reset-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-container form label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.reset-container input[type="text"],
.reset-container input[type="password"] {
    width: 200px;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
}

.reset-container input[type="submit"] {
    flex: 2;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-container input[type="submit"]:hover {
    background-color: #0056b3;
}
