.flashcardsBody {
    background-color: #f7f7f7;
    font-family: 'Comfortaa', sans-serif;
    color: #181818;
}

.flashcardsContainer {
    max-width: 65%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 31%);
    border: solid 1px #cccccc;
}

.flashcardsContainer h2 {
    text-align: center;
    color: #333;
    font-weight: bold;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.top-controls-spacer {
    height: 1px;
}

.back-button {
    display: inline-block;
    margin: 0px;
    padding: 8px 15px;
    background-color: transparent;
    color: #2778ff;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
}

.back-button:hover {
    color: #fcb54d;
    text-decoration: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardContainer {
    width: 85%; 
    height: 400px;
    margin: 20px auto;
    perspective: 1000px;
    cursor: pointer;
}

.cardFront, .cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.31);
    background-color: #ffffff;
    border: solid 1px #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: black;
    transition: transform 0.6s;
    padding: 15px;
    box-sizing: border-box;
}

.cardFront {
    transform: rotateY(0deg);
}

.cardBack {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.cardContainer.is-flipped .cardFront {
    transform: rotateY(-180deg);
}

.cardContainer.is-flipped .cardBack {
    transform: rotateY(0deg);
}

.cardCounter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    padding: 10px;
}

#backButton, #nextButton, #shuffleButton {
    background-color: transparent;
    border: none;
    color: #2778ff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#backButton:hover, #nextButton:hover, #shuffleButton:hover {
    color: #f59c1a; 
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.25s;
    animation-fill-mode: forwards; 
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 850px) {
    .flashcardsContainer {
        max-width: 90%;
        margin: 20px auto;
        padding: 10px;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgb(0 0 0 / 31%);
        border: solid 1px #cccccc;
    }

    .cards {
        display: block;
    }

    .cardContainer {
        width: 100%;
    }
}
