# htaccess - Includes Apache redirect rules
RewriteEngine ON

# File Extension Removal - DISABLED FOR NOW
# RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
# RewriteRule ^ /%1 [NC,L,R]
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# Post Redirect
RewriteCond %{REQUEST_URI} ^/forum/posts/ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /forum/posts/template.php?url=$1 [QSA,L]