body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}


.profile-settings {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group select {
    margin-left: 10px;
}

img {
    width: 7.5%;
    height: 7.5%;
    border-radius: 50%;
}

/*side navbar */
.navbar {
    width: 150px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 10%;
    right: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
}

.navbar a:last-child {
    border-bottom: none;
}

/* Switch */
.toggle-switch {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.toggle-switch label {
    margin-right: 10px;
}

.toggle-switch input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"]:checked {
    background-color: #2196F3;
}

.toggle-switch input[type="checkbox"]:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: 0.4s;
}

.toggle-switch input[type="checkbox"]:checked:before {
    transform: translateX(20px);
}

/* upload profile */
#profile-picture-container {
    text-align: left;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#upload-box {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

#upload-box:hover {
    background-color: #ddd;
}

#file-input {
    display: none;
}

#file-label {
    cursor: pointer;
    color: #2196F3;
}