/* Fonts: font-family: 'Comfortaa', sans-serif; */
#forumbody {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fa-circle-xmark {
    color: black;
}

.fa-circle-xmark:hover {
    color: #f59c1a;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.fa-circle-xmark:active {
    transform: scale(0.95);
    transition: 0.3s;
}

#popupContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f7f7f7;
    padding: 2% 4%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    width: 40%;
    margin: 1% auto;
    max-height: 90vh;
    overflow-y: auto;
    border-left: #0078d4;
    border-right: #f59c1a;
}

/* Style for web browser scrollbar for pop up container */
#popupContainer::-webkit-scrollbar {
    width: 12px;
    background-color: #0078d4;
}

#popupContainer::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
}

.contentitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contentitemtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
}

.contentitempost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 2%;
}

/* University */
#Unilabel,
#universityforum {
    margin-bottom: 10px;
}

/* Subject */
#subjectlabel,
#subjectforum {
    margin-bottom: 10px;
}

#universityforum,
#subjectforum {
    border: 0px;
    width: 60%;
    box-sizing: border-box;
}

/* Uni and Subject label texts */
#Unilabel,
#subjectlabel {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.9em;
    color: black;
}

/* Post Title and Post Content boxes */
#titleinput,
#contentinput {
    font-family: 'Comfortaa', sans-serif;
    background-color: #0060ff17;
    width: 90%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    border-radius: 15px;
    color: black;
}

#titleinput:focus,
#contentinput:focus {
    background-color: white;
    transform: scale(1.02);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

#titleinput {
    font-size: 1.5em;
}

/* Character Counts for Title and Content */
#titlecharCount,
#contentcharCount {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    color: black;
    opacity: 30%;
    margin-left: 85%;
}


/* Dropdown options */
#universityforum option,
#subjectforum option {
    font-size: 16px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    border: 0px;
    outline: none;
    padding: 0px;
}

/* Content boxes for Unversity and Subject */
.foruminput {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #0060ff17;
    color: black;
}

.foruminput:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* POST button */
.submitpostbutton {
    font-family: 'Comfortaa', sans-serif;
    background-color: #2778ff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 86%;
    padding: 10px 10px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    font-size: 1.5em;
    justify-content: center;
    white-space: nowrap;
    position: relative;
    align-self: flex-end;
    box-shadow: 0 2px 5px rgb(0 0 0 / 31%);
}

.submitpostbutton:hover {
    background-color: #f59c1a;
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: none;
}

.submitpostbutton:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.deletepostbutton, .canceldeletepostbutton {
    font-family: 'Comfortaa', sans-serif;
    background-color: #2778ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 1.5em;
    justify-content: center;
    box-shadow: 0 2px 5px rgb(0 0 0 / 31%);
    margin: 20px;
}

.deletepostbutton {
    background-color: #ef0000;
}

.deletepostbutton:hover, .canceldeletepostbutton:hover {
    background-color: #f59c1a;
}

.buttons {
    display: flex;
}

#deletepopupContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    width: 20%;
    font-size: 0.8em;
}

#deletetitle {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.9em;
    color: black;
    text-align: center;
}

/* Mobile Compatability at 850px */
@media (max-width: 850px) {

    #deletepopupContainer {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #f7f7f7;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        width: auto;
    }

    .fa-circle-xmark {
        color: black;
        margin-top: 5%;
    }

    #popupContainer {
        width: 82%;
        max-height: 90vh;
    }

    #titleinput {
        font-size: 1.25em;
    }

    .contentitem {
        width: 100%;
    }

    #Unilabel,
    #subjectlabel {
        margin-left: 0;
        font-size: 1.5em;
    }

    #universityforum,
    #subjectforum,
    #titleinput,
    #contentinput {
        margin-left: 0;
    }

    .submitpostbutton {
        font-size: 1.2em;
        margin-left: 75%;
        padding: 6px 10px;
        position: relative;
        border: none;
        cursor: pointer;
    }
}