/* Reset default styles for body */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    color: black;

    width: 100%;
    height: 100%;
    background: rgb(0,35,71);
background: linear-gradient(90deg, rgba(0,35,71,1) 0%, rgba(0,51,102,1) 50%, rgba(0,63,125,1) 100%);
}

.margin {
    margin: 20px 15%;
}

/* Styling for university info */
.university-info {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color:#ededed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: rgba(217, 214, 228, 0.12);
    border: 1px solid #f59c1a;
}

/* Styling for columns */
.columns {
    display: flex;
    align-items: flex-start;
}

/* Styling for subject selection */
.subject-selection-c {
    position:sticky;
    top:10px;
    color:#ededed;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-top: 15px;
    margin-right: 15px;
    background: rgba(217, 214, 228, 0.12);
    border: 1px solid #f59c1a;
}

.subject-selection-c ul {
    list-style: none;
    padding: 0;
    margin-bottom:0px;
    margin-top: 10px;
}

.subject-selection-c li {
    margin: 10px 0;
}

.subject-selection-c a {
    text-decoration: none;
    color:#ededed;
    font-weight: bold;
}

.subject-selection-c a:hover {
    color: #f59c1a;
}

/* Style for the search bar */
.search-bar-csun {
    text-align: left;
    display: flex;
}

.search-bar-csun input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    width: 9em;
}

.search-bar-csun button {
    background-color: #0078d4;
    color: #ededed;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Adjust styling for the search bar icon as needed */
.search-bar-csun button i {
    font-size: 20px;
}

/* Styling for posts */
.posts {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling for individual posts */
.post {
    display: block;
    color:#ededed;
    background: rgba(217, 214, 228, 0.12);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #f59c1a;
}

.post-account {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    color:#ededed;
}

.post-date {
    font-size: 10px;
    text-decoration: none;
    margin-top: 5px;
    color:#ededed;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-icons {
    position: absolute;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.post-content {
    padding-bottom: 10px;
}

.post-content, .post-title {
    color: #ededed;
}

.post-iconsp {
    bottom: 8px;
    right: 16px;
    padding-right: 5px;
}

.vote {
    display: flex;
    justify-content: flex-end;
    color:#ededed;
}

.post-profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 13px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(-30px);
}

.sort {
    border: 1px solid #f59c1a;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 0.5em;
    cursor: pointer;
}

/* Media query for screens with a width of 375x667 */
@media screen and (max-width: 435px) and (max-height: 669px) {

    /* Remove margin for posts and change display property to grid */
    .posts {
        flex: auto;
        margin-top: 15px;
    }

    .post {
        color:#ededed;
        background: rgba(217, 214, 228, 0.12);
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
        color: inherit;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }
    .subject-selection-c {
        color:#ededed;
        background: rgba(217, 214, 228, 0.12);
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: left;
        margin-top: 15px;
        margin-right: 15px;
        display: none;
    }
}

/* Media query for screens with a width of 375x667 */
@media screen and (max-width: 1920px) and (max-height: 1080px) {

    /* Remove margin for posts and change display property to grid */
    .posts {
        flex: auto;
        margin-top: 15px;
    }

    .post {
        width: 47%;
        color:#ededed;
        background: rgba(217, 214, 228, 0.12);
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
        color: inherit;
        margin-bottom: 10px;
    }
}

.subjects {
    width: 100%;
    height: 380px;
    overflow: auto;
  }
