/* Reset default styles for body */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    color: black;

    width: 100%;
    height: 100%;
    background: white;
}

/* Styling for university info */
.university-info {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color:#181818;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: rgba(217, 214, 228, 0.12);
    border: 1px solid #f59c1a;
}


/* Styling for subject selection */
.subject-selection-c {
    position:sticky;
    top:10px;
    color:#181818;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-top: 15px;
    margin-right: 15px;
    background: rgba(217, 214, 228, 0.12);
    border: 1px solid #f59c1a;
}

.subject-selection-c a {
    text-decoration: none;
    color:#181818;
    font-weight: bold;
}

.subject-selection-c a:hover {
    color: #f59c1a;
}

.search-bar-csun input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    width: 9em;
}

.search-bar-csun button {
    background-color: #f59c1a;
    color:#181818;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Styling for individual posts */
.post {
    display: block;
    color:#181818;
    background: rgba(217, 214, 228, 0.12);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #f59c1a;
    width: 47%;
}

.header {
  color:black;
  border: none;
  box-shadow: none;
  background: none;
  font-size: 24px;
}

.post-account {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    color:#181818;
}

.post-date {
    font-size: 10px;
    text-decoration: none;
    margin-top: 5px;
    color:#181818;
}


.post-content, .post-title {
    color:#181818;
}


.vote {
    display: flex;
    justify-content: flex-end;
    color:#181818;
}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #f59c1a;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #f59c1a;
  }
  

.sort {
    border: 1px solid #f59c1a;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 0.5em;
    cursor: pointer;
}
  