body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

input[type="text"], textarea{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #2e2e2e;
    color: #ffffff;
}

.studySetContainer {
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: solid 1px #ffffff;
}

h2 {
    font-size: 28px;
    margin: 0;
    padding: 0px;
}

.titleContainer {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
}

.titleContainer input {
    margin: 0px;
}

.studySetTags {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.description {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.description textarea{
    width: 95%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.columnTags {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    padding: 0;
    margin: 0;
}

.studySetTags .columnTags input {
    width: 95%;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.studyCards {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
}

.cardHeader {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

}

.cardFront {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.cardHeader .cardFront input[type="text"] {
    width: 95%;
    margin-bottom: 0px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.cardBack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.cardHeader .cardBack input[type="text"] {
    width: 95%;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.cardHeader .cardBack label {
    margin-left: 5%;
    box-sizing: border-box;
    position: relative;
}

input[type="submit"], button {
    padding: 10px 20px;
    margin-top: 20px; 
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}