.createStudySetBody {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.studySetContainer {
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: solid 1px #ffffff;
}

.studySetContainer input, .studySetContainer textarea {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: #2e3856;
    color: #ffffff;
}

.studySetContainer input:focus, .studySetContainer textarea:focus {
    outline: none; /* Need to see if we can highlight text in the text area*/
    outline-offset: 2px;
}

.studySetContainer input::placeholder, .studySetContainer textarea::placeholder {
    color: #ffffff;
    opacity: 1; 
}

.header2 {
    font-size: 28px;
    margin: 0;
    padding: 0px;
}

.titleContainer {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
}

.titleContainer input {
    margin: 0px;
}

.studySetTags {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.description {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.description textarea{
    width: 95%;
    height: 95%;
    padding: 5px;
    margin: 0px;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.columnTags {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    padding: 0;
    margin: 0;
}

.studySetTags .columnTags select, .studySetTags .columnTags input {
    width: 95%;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.studyCards {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #2e3856;
}
.topOfCard {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: solid 2px #000000; 
}

.frontAndBack {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
}

.cardFront {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.cardHeader .cardFront textarea {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    resize: none;
    background-color: #2e3856;
}

.cardBack {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
}

.cardHeader .cardBack textarea {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    resize: none;
    background-color: #2e3856;
}

.formButtons {
    display: flex;
    justify-content: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.formButtons input[type="submit"], .formButtons button{
    padding: 10px 20px;
    margin-left: 5px; 
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.formButtons input[type="submit"]:hover, .formButtons button:hover {
    background-color: #0056b3;
}

.deleteCardBtn {
    background-color: transparent;
    color: red; 
    border: none;
    cursor: pointer;
    padding: 10px; 
    outline: none; 
}

.deleteCardBtn i {
    font-size: 1em;
}